*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
    align-items: stretch;
}

body{
    background: #f5f2f1;
}

header{
    grid-column: 1/5;
    grid-row: 1;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(2em, auto);
    gap: 0.5em;
    
    align-items: center;
    justify-content: center;
    text-align: center;

    background: white;
    min-height: 100px;
    border-bottom: #eb0028 10px solid;
}
header > .Logo > img{
    border-radius: 10px;
}
header > .Eslogan > h1{
    font-weight: bold;
    font-style: italic;
}
header > nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(1em, auto);
    gap: 0.1em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header > nav > .Enlace > a > img{
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

article{
    grid-column: 1/3;
    grid-row: 2;
    
    align-items: center;
    justify-content: center;
    text-align: center;
}
article > .Foto > img{
    width: 500px;
    height: 400px;
    border-radius: 25px;
}

aside{
    grid-column: 3/5;
    grid-row: 2;
    
    align-items: center;
    justify-content: center;
    text-align: left;
}
aside > h2{
    font-size: 50px;
    font-weight: bold;
}
aside > h3{
    font-size: 25px;
    margin-top: 10px;
}
aside > h3 > span{
    float: right;
    margin: 0 1em;
}
aside > p{
    font-size: 15px;
    margin-top: 10px;
}
aside > #Precio{
    color: #eb0028;
    font-size: 25px;
    font-weight: 700;
}
aside > .Imagen{
    text-align: center;
}

footer{
    grid-column: 1/-1;
    grid-row: 3;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(2em, auto);
    gap: 0.5em;

    background-color: white;
    border-top: #eb0028 10px solid;
}
footer > .Redes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(1em, auto);

    align-items: center;
    justify-content: center;
    text-align: left;
}
footer > .Redes > .EnlaceRed{
    margin: auto;
}
footer > .Redes > .EnlaceRed > a > img{
    width: 50px;
    height: 50px;
}
footer > .CopyRight{
    text-align: left;
    padding: 2em 0.5em;
}